---
import Layout from "./Layout.astro";
import type { CollectionEntry } from 'astro:content';
import Comments from "@/components/Comments.astro";

import slugify from 'slugify';
import MediaHeader from "@/components/MediaHeader.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

let formatDate = (date: Date) => {
	return date.toLocaleDateString('en-us', {
			year: 'numeric',
			month: 'short',
			day: 'numeric',
	});
};

let schema = JSON.stringify({
        "@context": "https://schema.org/",
        "@type": "Article",
        "headline": title,
        "author": [{
            "@type": "Organization",
            "name": "Blazed Labs",
            "legalName" : "Blazed Labs LLC",
            "url": "http://blazedlabs.com/",
            "logo": "https://blazed.sirv.com/logo/Beaker-Dark.png?w=164&h=164",
            "foundingDate": "2020",
            "founders": [
                {
                    "@type": "Person",
                    "name": "Tyler Ruff"
                }
            ]
        }],
        "datePublished": formatDate(pubDate),
        "dateModified": formatDate(updatedDate || new Date()),
        "description": description,
});
---
<Layout title={title} description={description}>
	<div>
		<script type="application/ld+json" set:html={schema}></script>
		<article class="format lg:format-lg">
			<MediaHeader title={title} pubDate={pubDate} updatedDate={updatedDate} heroImage={heroImage} />
			<div class="prose">
				<slot />
			</div>
			<hr />
			<div class="select-none">
				<Comments pageId={slugify(title)} />
			</div>
		</article>
	</div>
	<style>
		article{
			position:relative;
			width:700px;
			max-width:100%;
			margin:0 auto;
		}
		.prose {
			width: 720px;
			max-width: calc(100% - 2em);
			margin: auto;
			padding: 1em;
			color: rgb(var(--gray-dark));
		}
	</style>
</Layout>